@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-sub: #f6f1e9;
  --color-main: #0f0e0e;
  --color-alternate: #4300ff;
  --font-suse: "SUSE", sans-serif;
  --font-nsw: "Edu NSW ACT Cursive", cursive;
  --font-asimovian: "Asimovian", sans-serif;
}

.icon-drawer {
  font-size: 1.7rem !important;
}
html {
  background-color: var(--color-main);
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.card.image-full > figure img.thumb {
  filter: brightness(100%);
}
